.codeBlock {
    position: relative;
    margin: 16px 0;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #2e2e2e;
}

.codeBlockHeader {
    padding: 0 12px 0 16px;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #2e2e2e;
    display: flex;
    height: 48px;
    align-items: center;
    background: #000;
    border: 1px solid #2e2e2e;
}

.codeBlockFilename {
    color: #a1a1a1;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    min-width: 0;
    margin: 0 auto 0 0;
}

.codeBlockCopy {
    display: flex;
    gap: 4px;
    color: #a1a1a1;
    font-size: 13px;
    cursor: pointer;
}

.codeBlockPre {
    border-radius: 0 0 6px 6px;
    background: #0a0a0a;
    padding: 20px;
    margin: 0;
    overflow-x: auto;
    color: #ededed;
    font-family: Monaco, Menlo, "Ubuntu Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
}